<app-nav></app-nav>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div style="background-color: lightblue; height: 50vh; width: 30vw;" class="bg">
                <label class="topper" class="pt-3" style="
                    font-size: 4.8em;
                    font-family: {{formulario.value.font}};
                    color: {{formulario.value.colorFont}};
                    -webkit-text-stroke-width: {{formulario.value.strokeWidht}}px;
                    -webkit-text-stroke-color: {{formulario.value.colorStroke}};">
                    {{formulario.value.name}}
                </label>
            </div>
        </div>

        <div class="col">
            <div class="row align-items-start">
                <form class="example-form" [formGroup]="formulario">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input value="" matInput placeholdformGrouper="Digite o nome" formControlName="name">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fonte</mat-label>
                        <mat-select formControlName="font">
                            <mat-option *ngFor="let font of fonts" [value]="font.value">
                                {{font.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-label>Cor Fonte</mat-label>
                    <input matInput type='color' formControlName="colorFont">

                    <mat-label>Cor Sombra</mat-label>
                    <input matInput type='color' formControlName="colorStroke">

                    <mat-label>Tamanho Sombra</mat-label>
                    <mat-slider min="0" max="5" step="0.01" value='1' formControlName="strokeWidht"></mat-slider>
                </form>

            </div>

            <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary" routerLink="../historic">Salvar</button>
                <button mat-raised-button color="warn" routerLink="../historic">Cancelar</button>
            </div>

        </div>
    </div>
</div>