<img src="../../assets/logo.png" class="rounded mx-auto d-block" alt="...">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="row justify-content-center">
                <p>login</p>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Digite seu email">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </form>
                <a routerLink="../main/">
                    <button class="btn btn-outline-success">
                        Entrar
                    </button>
                </a>
                <a>Esqueceu a senha</a>
                <a>Criar conta</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>